
/* hero section  */
.hero-section{
    display: flex;
    justify-content: center;
}
.hero-img{
    background-image: url('../assets/images/hero-img.png');
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    height: 400px;
    width: 900px;
    margin: 12% 0;
    box-shadow: -20px 20px 0 var(--c-grey);
    padding: 30px 0 0 30px;
}

.banner-content{
    font-size: 24px;
    font-family: var(--f-light);
    color: var(--c-white);
    margin-bottom: 5px;
    
}

.banner-content span{
    font-family: var(--f-semibold);
}

.resume-link{
    font-size: 18px;
    font-family: var(--f-medium);
    transition: font-size 0.3s ease, transform 0.3s ease;

    &:hover{
        font-size: 19px;
        text-decoration: underline;
    }
}

/* about section  */
.about-section{
    display: flex;
    justify-content: center;
}
.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.about-content{
    text-align: center;
    max-width: 600px;
    line-height: 2;
    margin: 50px 0;
}

.quote-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 650px;
    height: 220px;
    background: linear-gradient(90deg, #FF69B4, #8A2BE2, #1E90FF);
    color: var(--c-white-200);
    border-radius: 20px;
    padding: 20px;
    margin: 50px 0;
    position: relative;
}

.quote-container img{
    position: absolute;
    top: 15%;
    left: 10%;
    width: 70px;
    height: 70px;
    opacity: .1;
}

.quote-content{margin: auto;}

/* Experience section  */
.experience-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}