*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --h-footer : 60px;
}
ul li {
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

body{
    font-size: 20px;
    font-family: var(--f-regular);
}

/* Resuable components styles  */

/* Navbar */
.navbar-container{
    width: 300px;
    background-color: rgba(232, 229, 228, 0.5);
    border-radius: 50px;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    backdrop-filter: blur(16px);      
    z-index: 10;
}

.nav-list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
}

.nav-item{
    font-size: 14px;
    padding: 10px 22px;
    border-radius: 50px;
}

.selected{
    background-color: var(--c-white);
}



/* Title bar  */
.title-container{
    width: max-content;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 50px;
    background-color: var(--c-white-100);
}

/* Footer styles  */

.footer-container{
    height: var(--h-footer);
    font-size: 14px;
    padding: 20px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.social-links a{
    margin: 0 8px;
}


/* Project card styles  */
.card-container{
    height: 380px;
    width: 500px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.card-image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: .5s;
}

.card-container:hover .card-image{
    transform: scale(1.1);
    filter: blur(8px) brightness(0.6);
}


.arrow-icon{
    position: absolute;
    right: 45px;
    top: 45px;
    height: 50px;
    width: 50px;
    background-color: var(--c-white);
    padding: 15px;
    border-radius: 50%;
    opacity: 0;
    transition: .5s ease;

    &:hover{
        transform: scale(1.1)
    }
}

.card-container:hover .arrow-icon{
    opacity: 1;
    top: 20px;
    right: 20px;
}

.card-name{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: var(--c-white);
    opacity: 0;
    transition: .5s;
}
.card-container:hover .card-name{
    opacity: 1;
}

.repo-link{
    position: absolute;
    right: 45px;
    top: 15px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    padding: 5px;
    opacity: 0;
    transition: .5s;

    &:hover{
        transform: scale(1.1)
    }
}

.card-container:hover .repo-link{
    opacity: 1;
    top: 15px;
    right: 90px;
}

