.projects-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
    margin-top: 150px;
    margin-bottom: 150px;
}

.projects-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
}
